body{
  background-color: red;
}
.banner {
  height: 100px;
  width: 100%;
  margin: 0px;
}
.home-icon {
  height: 18px; width: 180px;
  background-color: white;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  position: absolute; top: 4px; left: 10px;
}

.home-icon a {
  font-size: 8px;
  padding-inline: 10px;
  pointer: cursor;
  display: inline-block;
  position: relative; top: -3px;
  z-index: 0;
}
.home-icon a:hover {
  background-color: #white;
  position: relative; top: -5.7px; left: 2px;
  border-radius: 9px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  height: 14px;
}
