body{
  background: red;
  height: 10000px;width: 100%;
  background: linear-gradient(to top, rgba(215, 187, 212, 255), rgba(255, 255, 255, 1));
}
.home-icon {
  height: 60px; width: 530px;
  background-color: white;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  position: absolute; top: 40px; left: 40px;
}
.home-icon a {
  font-size: 23px;
  padding-inline: 34px;
  pointer: cursor;
  display: inline-block;
  position: relative; top: 15px;
  z-index: 0;
}
.home-icon a:hover {
  background-color: #white;
  position: relative; top: 10px; left: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  height: 40px;
}
.box1 {
  height: 490px;
  width: 780px;
  position: absolute; top: 150px; left: 110px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.over-box1 {
  height: 170px; width: 700px;
  background-color: white;
  border-radius: 20px;
  position: absolute;top: 400px;left: 40px;
  opacity: 0.8;
}
h5 {
  font-size: 24px;
  font-weight: bold;
  color: #6e6e8c;
  padding-inline: 45px;
  position: relative;top: 30px;left: 20px;
}
p5 {
  font-size: 14px;
  color: #8484a8;
  position: relative;top: -15px;left: 95px;
}
h6 {
  font-size: 22px;
  color: #6e6e8c;
  font-weight: bold;
  position: absolute;top: 60px;left: 65px;
}
.yes {
  height: 40px;width: 60px;
  background-color: white;
  border-radius: 17px;
  position: absolute;top: 105px;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.yes:hover {
  transform: scale(1.3);
  opacity: 0;
  background-color: #4d2ea3;
}
#yes {left: 515px;}
#no {left: 585px}
p7 {
  font-size: 18px;
  position: absolute;top: 10px;left: 15px;
  color: #8484a8;
}
p8 {
  font-size: 18px;
  position: absolute;top: 10px;left: 18px;
  color: #8484a8;
}
.box2 {
    width: 80px;
    background: linear-gradient(to top left, #c469c6, #4d2ea3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute; top: 10px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}
p30{
  font-size: 5px; opacity: 0;
  color: white; position: absolute; top: 7px; left: 8px; right: 5px;
}
p30:hover{
  opacity: 1;
}
.box2:hover {
  transform: scale(2.5);
  z-index: 10;
}
.shell{
  height: 500px; width: 410px;
  background-color: white;
  position: relative; top: 800px; left: 50px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
  border-radius: 30px;
  transition: transform 0.3s ease;
}
.shell:hover{
  transform: scale(1.01);
}
#shell2 { margin-left: 48px;}
#shell4 { margin-left: 48px; margin-top: 80px;}
#shell3 { margin-top: 80px;}
.h1 {
  font-size: 40px;
  font-width: bold;
  position: absolute; top: 300px;
  color: #6e6e8c;
  font-family: Arial;
}
.p1 {
  font-size: 20px;
  font-family: calibri;
  position: absolute; top: 340px; left: 22px;
  color: #8484a8;
}
#shell5 {
  height: 590px; width: 440px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  margin-top: 80px;
  position: relative;
}
#shell6,#shell7 {
  height: 590px; width: 200px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  margin-top: 74px;
  
}
#shell6 {
   position: absolute; top: 1910px; left:521px; box-shadow: inset 2px 2px 9px rgba(0,0,0,0.3);}
#shell7 {
  position: absolute; left: 736px; top: 1910px;
}
.tools {
  position: absolute;top: 200px;left: 100px;
  color: #927ffb;
  font-size: 50px;
  transition: transform 0.3s ease;
}
.tools:hover{
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  transform: scale(1.1);
}
#home{
  margin-top: -10px;margin-left: 200px;
  font-size: 50px;
}
#h2 {
  margin-top: 170px;
  color: #927ffb;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
#p2 {
  margin-top: 167px;
  font-size: 12px;
}
#h3 {margin-top: 80px; color: #927ffb; font-size: 30px; font-weight: bold;}
#p3 { margin-top: 77px; color: #8484a8;
font-size: 15px;
}
.btn {
  height: 50px;width: 50px;
  position: absolute;top: 488px;left: 130px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  z-index: 10;
  display: flex;align-items: center;justify-content: center;
  transition: all 0.3s ease;
}
.btn:hover{
  transform: scale(1.1);
  background: linear-gradient(to top right, #d6f0ff, white);
}
.btn1 {
  text-decoration: none;
  font-size: 22px;
  color: #927ffb;
}
.btn1:hover{
  transform: scale(1.1);
  background: linear-gradient(to top right, #d6f0ff, white);
}
#shell8 {
  height: 590px; width: 220px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  margin-top: 20px;
  position: relative; top: 790px; left: 46px;
}
.connect {
  height: 40px;width: 110px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  border-radius: 14px;
  position: absolute;top: 370px;left: 45px;
}
.connect:hover{
  transform: scale(1.1);
  background: linear-gradient(to top right, #d6f0ff, white);
}
p9 {
  font-size: 20px;
  position: absolute;top: 9px;left: 30px;
  color: #8484a8;
}
.mini {
  height: 560px;width: 170px;
  background-color: white;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.2);
  border-radius: 26px;
  position: absolute;top: 15px;left: 15px;
}
#h11 {
  position: absolute; top: 50px; font-size: 27px;left: 25px;
  font-weight: bold;
  
}
#heart {
  position: absolute; top: 48px; left: 300px;
  font-size: 30px;
}
.stage{
  height: 400px;width: 100%;
  background-color: white;
  position: absolute;top: 3250px;left: 0px;
  display: flex; align-items: center; justify-content: center;
}
.circle{
  margin-top: -25px;height: 100px;width: 100px;
  background-color: white;border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  display: flex; align-items: center; justify-content: center;
  font-size: 18px: color: #6e6e8c; 
  text-shodow: 2px 2px 4px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}
.circle:hover{
  transform: scale(1.06);
  background: linear-gradient(to top right, #d6f0ff, white);
}
#circle1 {position: absolute; top: 60px; left: 50px;}
#circle2 {position: absolute; top: 170px; left: 150px;}
#circle3 {position: absolute; top: 280px; left: 50px;}
#circle4 {
  position: relative; top: 11px;left:0px;
  animation: shadowAnimation 4s infinite;
}

#circle5 {position: absolute; top: 60px; right: 50px;}
#circle6 {position: absolute; top: 170px; right: 150px;}
#circle7 {position: absolute; top: 280px; right: 50px;}
.stick {
  margin-top: -25px;height: 5px;width: 50px;
  background: linear-gradient(460deg,rgba(135, 206, 250, 0.8) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 182, 193, 0.8) 100%);
  position: absolute;
  background-size: 200% 100%;
  animation: moveInCircle 2s linear infinite;
  filter: blur(0.5px);border-radius: 3px;
 }
#stick1 {top: 110px;left: 80px;transform: rotate(20deg);}
#stick2 {top: 220px;left: 200px;}
#stick3 {top: 330px;left: 80px;transform: rotate(-20deg);}
#stick4 {top: 110px;left: 780px;transform: rotate(160deg);}
#stick5 {top: 220px;left: 700px;transform: rotate(180deg);}
#stick6 {top: 330px;left: 780px;transform: rotate(200deg);}

@keyframes moveInCircle {
  100% {position: absolute;top: 220px;left: 48.5%;}
}
@keyframes shadowAnimation {
  0% {box-shadow: none;}
  40% {box-shadow: none;}
  50% {box-shadow: 0px 0px 60px rgba(135, 206, 235, 0.8);}

  100% {box-shadow: none;}
}
.wish {
  height: 180px;width: 250px;
  background-color: #091114;
  position: relative;top: 1150px;left: 400px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  transition: all 0.3s ease:
}
.wish:focus{
  transform: scale(1.2);
  background-color: white;
}
h40{
  font-size: 22px; font-weight: bold;
  color: white; letter-spacing: 2px;
  position: absolute; top: 30px; left: 20px;
}
p40{
  font-size: 12px; color: #95989f;
  position: absolute; top: 70px; left: 18px;
}
h {
  font-weight: bold; font-size: 28px;
  position: relative; top: 1370px; left: 20px;
  color: #6e6e8c;
}
p {
  font-size: 8px;
  position: relative;top: 1390px;left: 20px;
  color: #8484a8;
}
h10 {
  position: relative;top: 1490px;left: 20px;
  color: #6e6e8c;
  font-weight: bold; font-size: 32px;
}
.promise {
  height: 160px; width: 290px;
  background-color: white;
  margin: 10px;
  position: relative;left: 17px;top: 1540px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
.img {
  height: 350px;width: 940px;
  position: relative;top: 1640px;left: 20px;
  background-image: url('https://assets.onecompiler.app/42pumarae/42q2er55z/1000017283.jpg');
  border-radius: 20px;
}
.sayari{
  height: 160px; width: 290px;
  background-color: white;
  position: relative;top: 1950px;left: 15px;
  border-radius: 25px;
  margin: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  z-index: 1;
}
#h11 {
  position: relative;top: 1900px;
}
.more {
  height: 60px;width: 60px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  position: absolute;top: 120px;left: 220px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #6e6e8c;
}
.hidden-div {
  height: 320px;width: 240px;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  display: none;
  z-index: 10;
  border-radius: 20px;
  position: absolute;top: 6170px;
}
#hd1 {
    left: 20px;
}
#hd2 {
  left: 335px;
}
#hd3 {
  left: 650px;
}
.contact {
  height: 450px;width: 100%;
  background-color: black;
  position: relative;top: 2800px;
  color: white;
}
h12 {position: absolute;top: 30px;left: 30px; font-size: 50px; font-width: bold;}
#a1 {font-size: 30px; position: absolute; top: 120px; left: 40px;}
#a2 {font-size: 30px; position: absolute; top: 200px; left: 40px;}
#a3 {font-size: 30px; position: absolute; top: 280px; left: 40px;}
.menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  align-items: center;
}

.menu.open .dot:nth-child(1) {
    transform: rotate(45deg) translateY(13px);
    opacity: 1;
}

.menu.open .dot:nth-child(2) {
    transform: rotate(-45deg) translateY(-13px);
    opacity: 1;
}
.dot {
  width: 50px;
  height: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,1);
  border-radius: 2px;
  transition: transform 0.5s ease;
  position: relative; top: 20px;right: 10px;
}
.content {
  position: absolute;
  top: 27px;
  left: 200px;
  background-color: white;
  color: white;
  width: 650px;
  height: 900px;
  display: none;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  transform: translateX(10%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.content.show {
  display: block;
  transform: translateX(0%);
  opacity: 1;
}
.content a {
  color: black;
  font-size: 25px;
  padding: 22px 30px;
  text-decoration: none;
  display: block;
}
.content a:hover {
  background-color: #F0E8F4;
  border-radius: 20px;
  text-decoration: none;
}
.a {
  color: black; 
  position: absolute; 
  top: 20px; right: 30px; 
  font-size: 20px;
  }
                                                 
